{{>header}}

<div class="formulario">

    <form action="/" method="get">
        <p>Identificador: <input type="number" placeholder="Identificador" name="ID"></p>
        <p>Nombre: <input type="text" placeholder="Nombre" name="Nombre"></p>
    </form>

    <button>Iniciar Sesión</button>


</div>

{{footer}}