{{>header}}

<form action="/inicio" method="post">
    <p>N° de identificación:  <input type="number" placeholder="N° de identificación" name="identificacion"></p>
    <p>Nombre completo:</p><td> <input type="text"  placeholder="Nombres completos" name="nombre"></p>
    <td>Email: </p <td> <input type="text" placeholder="ejemplo@dominio.com" name="email"></p>
    <td>Teléfono </p <td> <input type="number" placeholder="xxxxxxxxxx" name="telefono"></p>
</form>

{{>footer}}