body{
    border-top: 2px solid purple;
    color: blue;
    font-family:arial;
    min-height:50vh;
    text-align: center;
    
}

footer{
    margin-top: 50px;
    color: lawngreen;
    border-top: 2px solid rgb(17, 172, 30);
    min-height:50vh
}

header{
    margin-top: 16px;
    margin-bottom:50px;
}

h2{
    font-size: 25px;
    margin-bottom: 16px;
    text-align: center;
    color: black;
}

.centro{
    margin-top: 5px;
    text-align: center;
}

.formulario{
    height: 500px;
    width: 500px;
    margin-left: 400px;
}